*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1943;
    color: white;
    font-family: serif;
}

.landingWrapper{
    margin-left: 12%;
    display: grid;
    justify-content: space-around;
    align-content: end;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo . . navRight"
    "message message message navRight";
    align-items: start;
    padding-top: 115px;  
}

.logo{
display: grid;
grid-area: logo;
margin-bottom: 40px;
}

.nav-right{
   
    grid-area: navRight;
    display: grid;
    justify-content: center;

}
.nav-links{
    margin-top: 15px;
    margin-bottom: 40px;
}
.nav-right a {
    text-decoration: none;
    display: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
    color: white;
    opacity: 0;
    transition: all 0.5s ease-out;
    cursor: default;
    font-size: 35px;
}

.toggle a {
    transition: all 0.5s ease-in;
    opacity: 1;
    cursor: pointer;

}

.toggle a:hover{
    background-image: linear-gradient(
        0,
        #fb4c49 30%,
		transparent 30%
    );

}

.burger{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;

}
.burger div{
  
    margin: 2px;
    background-color: white;
    transition: all 0.3s ease;
    height: 3.5px;

}

.line1{
    width: 18px;
}

.line2{
    width: 25px;
}

.line3{
    width: 32px;
}




.message{
    grid-area: message;
    display: grid;
    justify-content: start;
    align-content: end;
    font-size: 30px;
    margin-top: 200px;
    margin-left: 3em;
    letter-spacing: 5px;
}
.message h1 span {
	background-image: linear-gradient(
		0,
		#fb4c49 50%,
		transparent 50%
	);
	
}
.nav-right i{
    flex-direction: column;
    grid-area: landingIcons;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 40px;
    cursor: pointer;
}

.sideIcons{
    margin-top: 120px;
}


.meetingTime{
    margin: 500px 12%;
}

.meetingTime h2{
    font-size: 30px;
}

.meetingTime h1{
    font-size: 45px;
    margin-top: .5em;
    letter-spacing: 5px;

}


.barGm{
    margin: 2px;
    background-color: #fb4c49;
    width: 70px;
    height: 5px;
}